certifi~=2021.5.30
chardet~=4.0.0
charset-normalizer~=2.0.1
click~=8.0.1
Flask~=2.0.1
idna~=3.2
itsdangerous~=2.0.1
Jinja2~=3.0.1
MarkupSafe~=2.0.1
pip~=21.1.3
python-crontab~=2.5.1
python-dateutil~=2.8.1
requests~=2.26.0
setuptools~=57.1.0
six~=1.16.0
urllib3~=1.26.6
waitress~=2.0.0
Werkzeug~=2.0.1