certifi
chardet
charset-normalizer
click
Flask~=3.0.2
jinja2>=3.1.2
idna
itsdangerous
MarkupSafe~=2.1.5
python-crontab~=3.0.0
python-dateutil
requests~=2.32.4
setuptools
six
urllib3
waitress~=3.0.0
Werkzeug~=3.1.5
