{% extends "shared/_layout.html" %}
{% block title %}JAWA Webhooks{% endblock %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/webhooks/jamf">Jamf Pro</a></div>
        <div class="stat"><a href="/webhooks/okta">Okta</a></div>
        <div class="stat"><a href="/webhooks/custom">Custom</a></div>
    </div>


    <div class="form-container">

        {#        <div class="account-form">#}


        <h4>
            <div style="text-align: center;">Jamf Pro Webhooks Summary</div>
        </h4>
        <div class="table-view">
            {% if jamfpro_list %}
                <div class="table-responsive">
                    <table id="Jamf Pro Webhooks Table" class="table">
                        <thead class="thead-dark table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Script</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        {% for row in jamfpro_list %}
                            {% if row.url == session['url'] %}
                                <tr>
                                    {#                                <td>{{ row.name }} (<a href="{{ webhook_url }}/webhooks.html?id={{ row.jamf_id }}"#}
                                    <td>{{ row.name }} (<a href="../webhooks/jamf/edit?name={{ row.name }}"
                                                           style="color:#3c6aa7;">Edit</a>) (<a
                                            href="{{ url }}/webhooks.html?id={{ row.jamf_id }}" target="_blank">View in
                                        Jamf</a>)
                                    </td>
                                    <td>{{ row.script }}</td>
                                    <td>{{ row.description }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                No Jamf Pro webhooks to display.  <a href="/webhooks/jamf/new">Create one now.</a>
            {% endif %}
        </div>
        </form>
    </div>
    <div class="form-container">

        {#        <div class="account-form">#}


        <h4>
            <div style="text-align: center;">Okta Webhooks Summary</div>
        </h4>
        <div class="table-view">
            {% if okta_list %}
                <div class="table-responsive">
                    <table id="Custom Webhooks Table" class="table">
                        <thead class="thead-dark table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Script</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        {% for row in okta_list %}

                            <tr>
                                {#                                <td>{{ row.name }} (<a href="{{ webhook_url }}/webhooks.html?id={{ row.jamf_id }}"#}
                                <td>{{ row.name }} (<a href="../webhooks/okta/edit?name={{ row.name }}"
                                                       style="color:#3c6aa7;">Edit</a>)
                                </td>
                                <td>{{ row.script }}</td>
                                <td>{{ row.description }}</td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            {% else %}
                No Okta webhooks to display.  <a href="/webhooks/okta/new">Create one now.</a>
            {% endif %}
        </div>
        </form>
    </div>
    <div class="form-container">

        {#        <div class="account-form">#}


        <h4>
            <div style="text-align: center;">Custom Webhooks Summary</div>
        </h4>
        <div class="table-view">
            {% if custom_list %}
                <div class="table-responsive">
                    <table id="Custom Webhooks Table" class="table">
                        <thead class="thead-dark table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Script</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        {% for row in custom_list %}
                            {% if row.url == session['url'] %}
                                <tr>
                                    {#                                <td>{{ row.name }} (<a href="{{ webhook_url }}/webhooks.html?id={{ row.jamf_id }}"#}
                                    <td>{{ row.name }} (<a href="../webhooks/custom/edit?name={{ row.name }}"
                                                           style="color:#3c6aa7;">Edit</a>)
                                    </td>
                                    <td>{{ row.script }}</td>
                                    <td>{{ row.description }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                No custom webhooks to display.  <a href="/webhooks/custom/new">Create one now.</a>
            {% endif %}
        </div>
        </form>
    </div>


    {#    <div class="download-button">#}
    {#        <a href="/log/download" button type=submit class="btn btn-success button-align">Download &raquo;</a>#}
    {#    </div>#}
    </div>
    </div>
    </div>

{% endblock %}
</body>