{% extends "shared/_layout.html" %}
{% block title %}New Okta Webhook{% endblock %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/webhooks">All Webhooks</a></div>
        <div class="stat"><a href="/webhooks/okta/new">Create</a></div>
        <div class="stat"><a href="/webhooks/okta">View</a></div>
    </div>
    <div class="form-container">

    <form method="post" class="table-view" enctype="multipart/form-data">
        <h1>New Okta Webhook</h1>
        <input name="webhookname" type="text" pattern="[^' ']+" placeholder="New Webhook Name (no spaces)" required
               title="No spaces, please." class="form-control" value="{{ name }}" autofocus>
        </p>
        <p>
            <b>Okta Information</b></br>
            <input type="text" name="okta_server" class="form-control" value="{{ okta_server }}"
                   placeholder="Okta Server URI" required pattern="https?://.+" title="Use https://"><br/>
            <input type="text" name="token" class="form-control" value="{{ token }}" placeholder="Okta Token"
                   required><br/>
            <input type="text" name="event" class="form-control" value="{{ event }}" placeholder="Okta Event"
                   required><br/>

            <a href="https://developer.okta.com/docs/reference/api/event-types/" style="color:#3c6aa7;" target="_blank">Okta
                Event Types</a>
            (example: user.lifecycle.deactivate)</p>
        <textarea name="description" rows=3 type="text" placeholder="Description (optional)"
                  class="form-control">{{ description }}</textarea>
        <b>Script:</b></br>
        <div class="d-flex justify-content-center">
            <input type="file" name="script" required accept=".sh,.py,.rs,.rlib,.swift,.cgi,.pl,.rb"
                   oninvalid="this.setCustomValidity('A script is required. Spaces cannot be in the name of the script.')"></b>
        </div>
        <div class="d-flex justify-content-center">
            <p>Examples: [<a href="{{ url_for('resources_view.python') }}" class="alert-link">Python</a>, <a
                    href="{{ url_for('resources_view.bash') }}" class="alert-link">Bash</a>] </p></div>


        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-secondary" value="Create" style="margin: 5px; padding: 5px; width: 150px">
    </form>
{% endblock %}
{% block additional_js %}
    <script>
        $(document).ready(function () {
            $(".submit").click(function () {
                $(".submit").addClass("loading");
                setTimeout(function () {
                    $(".submit").addClass("hide-loading");
                    $(".done").addClass("finish");
                }, 1000000);
                setTimeout(function () {
                    $(".submit").removeClass("loading");
                    $(".submit").removeClass("hide-loading");
                    $(".done").removeClass("finish");
                    $(".failed").removeClass("finish");
                }, 1000000);
            })
        });
    </script>
{% endblock %}
</div>
