body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: #fff3cd;
  text-decoration: underline;
  font-weight: none
}


header {
  background-color: #050053;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 900px;
  margin: 0;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.webhooks {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.success {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

h1-center {
  text-align: center;
}

.div1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

.nav {background:#eee;}

.nav ul {
 list-style-type: none;
 padding: 0;
}

.nav ul a {
 color: #000;
 text-decoration: none;
}
.button-holder{
  padding-top:20px;
}
.ajax-button{
  position:relative;
  display:inline-block;
  width:100px;
  height:40px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-20px;
  text-align:center;
}
.submit{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100px;
  height:40px;
  background-color:#111111;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:17px;
  cursor:pointer !important;
  outline:none;
}

.submit:hover{
  background-color:#222222;
}
.loading{
  font-size:0;
  width:30px;
  height:30px;
  margin-top:5px;
  border-radius:15px;
  padding:0;
  border:3px solid #111111;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 3s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.fa{
  color:#3c6aa7;
  font-size:18px !important;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-9px;
  margin-top:-9px;
  -webkit-transform:scaleX(0) !important;
  transform:scaleX(0) !important;
}

.finish{
  -webkit-transform:scaleX(1) !important;
  transform:scaleX(1) !important;
}
.hide-loading{
  opacity:0;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transform:scale(0) !important;
  transform:scale(0) !important;
}

.rules-list {
    margin: 2rem;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.rule-row {
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px 30px 5px 30px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
.hippocrates {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.hippocrates td, .hippocrates th {
  border: 1px solid #ddd;
  padding: 8px;
}

.hippocrates tr:nth-child(even){background-color: #f2f2f2;}

.hippocrates tr:hover {background-color: #ddd;}

.hippocrates th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #26446b;
  color: white;
}


.rules-test {
 padding-left: 50;
  padding-right: 50;
  margin-right: 50px;
  margin-left: 50px;
  color: #444444;
}


n {
  color: #0066aa;
}

.alert-soft {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 25px;
  margin-left: 25px;
}

.btn-padded {
  margin-top: 1rem;
}

.webhooks-list span {
    display: block;
    font-size: 12px;
    overflow-block: hidden;
    /*margin-top: 10px;*/
}
.webhooks-list h6 {
    display: block;
    font-size: 12px;
    overflow-block: hidden;
    word-wrap: normal;
}

.dash-list {
    text-align: center;
    margin-bottom: 10vh;
}

.jawa-bg {
    background-image: url("../../static/img/heather-shevlin-3B_NrzTjajc-unsplash.jpg");
    background-repeat: round;
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
    width: 100vw;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-bg {
    background-color: #d7a773cf;
}

.card {
    width: 10rem;
    padding: 3px;
    margin: 10px;
}

.dash-list .btn-jawa {
    font-size: .9rem;
}

.modal-footer .btn-jawa {
    font-size: unset;
}

.btn-jawa:hover {
    color:lightgrey;
}

.alert-jawa {
    color: #FFFFFF;
    background-color: #6A2F30;
    border-color: #c3e6cb;
    border-radius: 1rem;

}

.btn-jawa:disabled {
    background: unset;
    border: unset;
    color: transparent;;
}
.btn-danger {
    margin: 5px;
    padding: 5px;
    width: 150px;
    border-radius: 1rem;
}

.btn-secondary {
    border-radius: 1rem;
}

.btn-jawa {
    color: #fff;
    background-color: #6A2F30;
    border-color: #112a26;
    border-radius: 1rem;
}

.card-img {
    width: 72%
}

.border-info {
    border-color: #aa845a !important;
}

.alert-warning {
    color: #000000;
    font-weight: bold;
    line-height: 1.2;
    font-size: .9rem;
    text-align: left;
}

.btn-group-sm .btn {
    border-radius: 0.5rem;
}

.custom-file-input~.custom-file-label::after {
  content: "Select a file to upload...";
}