body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #3C6A93;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  float: left;
}
header h1.logo:hover {
  text-decoration: none;
}
.container {
  width: 400px;
  margin: auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.secret {
  padding: 100px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1em;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.center_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.config_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.submit_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:40px;
  background-color:#111111;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:17px;
  cursor:pointer !important;
  outline:none;
}
.menu {
  float: left;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}