body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
a:visited {
  color: purple;
}
a:hover { 
  color: #26446b; 
  text-decoration: underline;
  font-weight: none 
}
header {
  background-color: #050053;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
.container {
  width: 900px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.webhooks {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.success {
  padding: 10px 0 30px 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.div1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}
.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.menu {
  float: left;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

.nav {background:#eee;}

.nav ul {
 list-style-type: none;
 padding: 0;
} 
.nav ul a {
 color: #000;
 text-decoration: none;
}
.button-holder{
  padding-top:100px;
}
.ajax-button{
  position:relative;
  display:inline-block;
  width:100px;
  height:40px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-20px;
  text-align:center;
}
.submit{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100px;
  height:40px;
  background-color:#111111;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:17px;
  cursor:pointer !important;
  outline:none;
}

.submit:hover{
  background-color:#222222;
}
.loading{
  font-size:0;
  width:30px;
  height:30px;
  margin-top:5px;
  border-radius:15px;
  padding:0;
  border:3px solid #111111;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 3s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.fa{
  color:#3c6aa7;
  font-size:18px !important;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-9px;
  margin-top:-9px;
  -webkit-transform:scaleX(0) !important;
  transform:scaleX(0) !important;
}

.finish{
  -webkit-transform:scaleX(1) !important;
  transform:scaleX(1) !important;
}
.hide-loading{
  opacity:0;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transform:scale(0) !important;
  transform:scale(0) !important;
}
@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.form-container {
    padding: 25px;
}

form.account-form > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

form.account-form h1 {
    text-align: center;
}

form.account-form button {
    float: right;
}

form.account-form select {
    padding: 0;
}

form.account-form {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #c9c9c9;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.error-msg {
    color: #b30000;
    text-align: center;
}

.diagnosis {
    padding: 400px;
    color: #2b6ca8;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    background-color: pink;
}

.success-wrap {

    overflow: hidden;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: ellipsis;
}

.success-wrap:hover {
    overflow: visible;
}

.success-form {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #c9c9c9;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.button-align {
    align-items: right;
}

.test-banner {
    background-color: #ececec;
}