{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script>
  $(document).ready(function() {
    $(".submit").click(function() {
      $(".submit").addClass("loading");
      setTimeout(function() {
        $(".submit").addClass("hide-loading");
        $(".done").addClass("finish");
      }, 1000000);
      setTimeout(function() {
        $(".submit").removeClass("loading");
        $(".submit").removeClass("hide-loading");
        $(".done").removeClass("finish");
        $(".failed").removeClass("finish");
      }, 1000000);
    })
  });
</script>
<body>
  {% extends "wizardlayout.html" %}
  {% block content %}
  <div class="wizard">

      <h1>Welcome!</h1>
      Let's set up your first automation...</br></br>
      What would you like to do?</br></br></br>
      <a href="{{ url_for('step_one') }}" style="color:#3c6aa7;">Create a New Webhook</a> </br></br>

      <a href="{{ url_for('cron.cron') }}" style="color:#3c6aa7;">Create a New Timed Automation</a> </br></br></br>

      </br></br></br></br></br></br></br></br>

      Setup Options:</br></br>
      <a href="{{ url_for('setup') }}" style="color:#3c6aa7;">Configure the JAWA</a></br></br></br><hr>

    {% endblock %}
  </div>
</body>
</html>
