{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
  <title>JAWA</title>
  <script>
    $(document).ready(function() {
      $(".submit").click(function() {
        $(".submit").addClass("loading");
        setTimeout(function() {
          $(".submit").addClass("hide-loading");
          $(".done").addClass("finish");
        }, 1000000);
        setTimeout(function() {
          $(".submit").removeClass("loading");
          $(".submit").removeClass("hide-loading");
          $(".done").removeClass("finish");
          $(".failed").removeClass("finish");
        }, 1000000);
      })
    });
  </script>
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Login</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  {% if username %}
  <!-- <p>Welcome {{ username }}. <a href ="/logout">Log out.</a></p> -->
  {% endif %}
</footer>
</html>