{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script>
  $(document).ready(function() {
    $(".submit").click(function() {
      $(".submit").addClass("loading");
      setTimeout(function() {
        $(".submit").addClass("hide-loading");
        $(".done").addClass("finish");
      }, 1000000);
      setTimeout(function() {
        $(".submit").removeClass("loading");
        $(".submit").removeClass("hide-loading");
        $(".done").removeClass("finish");
        $(".failed").removeClass("finish");
      }, 1000000);
    })
  });
</script>
<body>
  {% extends "setuplayout.html" %}
	{% block content %}
  <div class="setup">

    <form method="post" action="/setup" enctype="multipart/form-data">
      <h1>Server Setup</h1>

      <p>You seek to use the JAWA!</p>
      Please read the <a href="https://github.com/jamf/JAWA/blob/master/README.md" style="color:#3c6aa7;" target="_blank">documentation</a> prior to using the JAWA!</br></br>

      Notes:</br>
      - You must include the protocol (https://) in the address. </br>
      - Address must have inbound/outbound communication with your Jamf Pro.</br>
      </br></br></br>
      <input type="checkbox" name="jss-lock" id="jss-lock" value={{jps_url}} checked> Lock your JAWA to the JPS server:  {{jps_url}}<br><br>

      JAWA Server Address: <input type="text" name="address" pattern="https?://.+" title="Use https://"></br>
      (i.e. https://jawa.company.com)</br></br>
      
      <div class="container-fluid row ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 button-holder">
              <div class="ajax-button">
                <input class="submit" type="submit" value="Utinni!" />
              </div>
            </div>
          </div>
        </div>  
      </div>
      </br>
      </br>
      </br>
      To clean up unused scripts: <a href="{{ url_for('cleanup') }}" target="_blank">Cleanup</a>.
    </form>   
    {% endblock %}
  </div>
</body>
</html>