{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<html>
<body>
	{% extends "successlayout.html" %}
	{% block content %}
	<div class="success">
	<form method="get" action="/logout">
		<h3>Success!</h3></br></br>

		<center>{{new_webhook}} <br> <b>{{smart_group_notice}}</b> <br> {{smart_group_instructions}}<a href="{{new_link}}" style="color:#3c6aa7;" target="_blank">{{new_here}}</a></center></br></br>

		<center><button type="submit" class="pure-button pure-button-primary">
			Log Out<i class="fa fa-templates" aria-hidden="true"></i>
		</button></center>
	</form></br></br></br></br></br>
    {% endblock %}
   </div>
 </body>
</html>