{% extends "shared/_layout.html" %}
{% block title %}Success!{% endblock %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/dashboard">JAWA Dashboard</a></div>
        <div class="stat">Success</a></div>
    </div>
    <div class="form-container">
    <form method="get" class="table-view" action="/dashboard">
        <h3 class="alert-success">Success!</h3>
        <div class="  overflow-auto" style="max-width: 100vh">
            <p>
                {% for each_line in success_msg.split('\n') %}
                {{ each_line }}<br>
                </p>
            {% endfor %}
            {% if smart_group_notice %}
                <b>{{ smart_group_notice }}</b> <br> {{ smart_group_instructions }}
            {% endif %}
            <a href="{{ new_link }}" style="color:#3c6aa7;" target="_blank">{{ new_here }}</a></center>
            </br></br>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary">
                    Dashboard<i class="fa fa-templates" aria-hidden="true"></i>
                </button>
            </div>

    </form>
{% endblock %}
