{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script>
  $(document).ready(function() {
    $(".submit").click(function() {
      $(".submit").addClass("loading");
      setTimeout(function() {
        $(".submit").addClass("hide-loading");
        $(".done").addClass("finish");
      }, 1000000);
      setTimeout(function() {
        $(".submit").removeClass("loading");
        $(".submit").removeClass("hide-loading");
        $(".done").removeClass("finish");
        $(".failed").removeClass("finish");
      }, 1000000);
    })
  });
  function show(event) {
    if (event == "SmartGroupComputerMembershipChange") {
    hiddenDiv.style.display='inline-block';
    hiddenDivTwo.style.display='none';
    }
    if (event == "SmartGroupMobileDeviceMembershipChange") {
    hiddenDiv.style.display='inline-block';
    hiddenDivTwo.style.display='inline-block';
    }
  }
</script>
<body>
  {% extends "webhooklayout.html" %}
  {% block content %}
  <div class="webhooks">
    <h1>New Webhook</h1>

    <form method="post" action="/webhooks" enctype="multipart/form-data">
      <b>Webhook</b></br>
      New Webhook Name (single string only): </br><input type="text" name="webhookname" pattern="[^' ']+" required title="Single-string name required. (i.e. single_string or string)"></br></br>

      <b>Jamf Event:</b></br>
      <select name="event" onchange="java_script_:show(this.options[this.selectedIndex].value)" required>
        <option value=""></option>
        <option value="ComputerAdded">ComputerAdded</option>
        <option value="ComputerCheckIn">ComputerCheckIn</option>
        <option value="ComputerInventoryCompleted">ComputerInventoryCompleted</option>
        <option value="ComputerPathcPolicyCompleted">ComputerPathcPolicyCompleted</option>
        <option value="ComputerPolicyFinished">ComputerPolicyFinished</option>
        <option value="ComputerPushCapabilityChanged">ComputerPushCapabilityChanged</option>
        <option value="DeviceRateLimited">DeviceRateLimited</option>
        <option value="JSSShutdown">JSSShutdown</option>
        <option value="JSSStartup">JSSStartup</option>
        <option value="MobileDeviceCheckIn">MobileDeviceCheckIn</option>
        <option value="MobileDeviceCommandCompleted">MobileDeviceCommandCompleted</option>
        <option value="MobileDeviceEnrolled">MobileDeviceEnrolled</option>
        <option value="MobileDevicePushSent">MobileDevicePushSent</option>
        <option value="MobileDeviceUnEnrolled">MobileDeviceUnEnrolled</option>
        <option value="PatchSoftwareTitleUpdated">PatchSoftwareTitleUpdated</option>
        <option value="PushSent">PushSent</option>
        <option value="RestAPIOperation">RestAPIOperation</option>
        <option value="SCEPChallenge">SCEPChallenge</option>
        <option value="SmartGroupComputerMembershipChange">SmartGroupComputerMembershipChange</option>
        <option value="SmartGroupMobileDeviceMembershipChange">SmartGroupMobileDeviceMembershipChange</option>
      </select></br>
      
      <div id="hiddenDiv" style="display:none">
          * Note: If utilizing the event for Smart Group Membership Change, after submitting, navigate to the <a href="{{url}}/webhooks.html" style="color:#3c6aa7;" target="_blank">Webhooks</a> setting in Jamf Pro and adjust the proper Smart Group for this Webhook.
      </div>
      </br>   
<!--       Smart Mobile Device Group:</br>
      <select name="mobile_device_group">  
        {% for group in found_mobile_device_groups %}
        <option value="{{group.id}}">{{group.name}}</option>
        {% endfor %}
      </select></br></br>
      
      Smart Computer Group:</br>
      <select name="computer_group">
        {% for group in found_computer_groups %}
        <option value="{{group.id}}">{{group.name}}</option>
        {% endfor %}
      </select></br></br>
       -->
      <b>Script:</b></br>
      <input type = "file" name = "script" pattern="[^' ']+" required title="Single-string name required. (i.e. single_string or string)"></b>
      </br></br>
       <b>Description</b> (optional):</br>
       <textarea rows="4" name="description" cols="70"></textarea></br></br>
        <b>Auth:</b><br>
       Username (optional): <input  name = "username"   title="Username (optional)"></b>
        Password (optional):<input  name = "password"   type='password' title="Password (optional)"></b>

      <div class="container-fluid row ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 button-holder">
              <div class="ajax-button">
                <div class="fa fa-check done"></div>
                <div class="fa fa-close failed"></div>
                <i class="fa fa-templates" aria-hidden="true"></i>
                <input class="submit" type="submit" value="Submit" />
              </div>
            </div>
          </div>
        </div>  
      </div>
    </form>  
    {% endblock %}
   </div>
  </body>
</html>
