{% extends "shared/_layout.html" %}
{% block title %}Cleanup Scripts{% endblock %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/setup">Setup</a></div>
        <div class="stat"><a href="/cleanup">Cleanup</a></div>
        <div class="stat"><a href="/branding">Branding</a></div>
    </div>
    <div class="form-container">

    <form method="post" action="/cleanup" class="table-view overflow-auto" enctype="multipart/form-data"
          style="max-height: 66vh; max-width: 66vh">
        <h1>Cleanup</h1>

        Please read the <a href="https://github.com/jamf/JAWA/blob/master/README.md" style="color:#3c6aa7;"
                           target="_blank">documentation</a> prior to using the JAWA!</br></br>

        Notes:</br>
        - Click "Clean Up!" to remove all old scripts. </br>
        - Old scripts are scripts kept as an archive file with the extension ".old".</br>
        - All scripts are housed in {{ scripts_dir }}</br>
        - Active scripts will be untouched.</br></br>

        <div class="container-fluid row ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 button-holder">
                        <div class="ajax-button">
                            <input class="submit" type="submit" value="Clean Up!"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block additional_js %}
    <script>
        $(document).ready(function () {
            $(".submit").click(function () {
                $(".submit").addClass("loading");
                setTimeout(function () {
                    $(".submit").addClass("hide-loading");
                    $(".done").addClass("finish");
                }, 1000000);
                setTimeout(function () {
                    $(".submit").removeClass("loading");
                    $(".submit").removeClass("hide-loading");
                    $(".done").removeClass("finish");
                    $(".failed").removeClass("finish");
                }, 1000000);
            })
        });
    </script>
{% endblock %}
