{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">
{%- endmacro %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% extends "shared/_layout.html" %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/setup">Setup</a></div>
        <div class="stat"><a href="/cleanup">Cleanup</a></div>
        <div class="stat"><a href="/branding">Branding</a></div>
    </div>
    <div class="form-container overflow-auto" style="max-height: 60vh">
        <div class="d-flex justify-content-center">
            <div class="table-view log-frame overflow-auto" style="max-width: 100vh; max-height: 66vh">

                <h1 class="d-flex justify-content-center">Server Setup</h1>

                <label class=" justify-content-center">
                    Please read the <a href="https://github.com/jamf/JAWA/blob/master/README.md" style="color:#3c6aa7;"
                                       target="_blank">documentation</a> prior to using JAWA.

                </label>
                <form method="post" class="table-view" action="/setup" enctype="multipart/form-data">

                    <input type="text" class="form-control" name="address" pattern="https?://.+" title="Use https://"
                           value="{{ jawa_url }}" placeholder="JAWA Server Address FQDN">

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="jss-lock" id="jss-lock"
                               value={{ jps_url }} checked>
                        <label class="form-check-label" for="exampleCheck1"> Lock your JAWA to {{ jps_url }}</label>
                    </div>


                    {% if not jps_url2 %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="alternate-jps" id="alternate-jps"
                                   value="enabled">
                            <label class="form-check-label" for="exampleCheck1">Add an alternate JPS server:</label>
                        </div>

                        <input type="text" class="form-check-input" placeholder="Alternate JPS server url"
                               name="alternate"
                               pattern="https?://.+"
                               title="Use https://"
                               value="{{ jps_url2 }}">
                    {% else %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="alternate-jps" id="alternate-jps"
                                   value="enabled"
                                   checked>
                            <label class="form-check-label" for="exampleCheck1">Add an alternate JPS server:</label>
                        </div>

                        <input type="text" class="form-control" placeholder="Alternate JPS server url" name="alternate"
                               pattern="https?://.+"
                               title="Use https://"
                               value="{{ jps_url2 }}">



                    {% endif %}

                    <div class="d-flex justify-content-center container-fluid">
                        <p></p>
                        <button type=submit value="Setup" class="btn btn-secondary submit">

                            Setup

                        </button>
                    </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="overflow-auto" style="max-height: 30vh">

        </div>
    </div>
    <div class="d-flex justify-content-center container-fluid">
        To clean up unused scripts: <a href="{{ url_for('cleanup') }}" target="_blank">Cleanup</a>.
        </form>
    </div>
    </div>
{% endblock %}
{% block additional_js %}
    <script>
        $(document).ready(function () {
            $(".submit").click(function () {
                $(".submit").addClass("loading");
                setTimeout(function () {
                    $(".submit").addClass("hide-loading");
                    $(".done").addClass("finish");
                }, 1000000);
                setTimeout(function () {
                    $(".submit").removeClass("loading");
                    $(".submit").removeClass("hide-loading");
                    $(".done").removeClass("finish");
                    $(".failed").removeClass("finish");
                }, 1000000);
            })
        });
    </script>
{% endblock %}
