{% extends "shared/_layout.html" %}
{% block title %}Confirm Delete{% endblock %}
{% block content %}
    <div class="test-links sub_links sticky-top">
        <div class="stat"><a href="/cron/new">New Timed Job</a></div>
        <div class="stat"><a href="/cron">All Timed Automations</a></div>
    </div>

    <div class="form-container">
        <form action="#" method="POST" class="table-view"
              enctype="multipart/form-data">

            <h1>Confirm Delete:</h1>
            Timed Automation -
            {% if target_job %}{{ target_job }}{% endif %}</h1>


            <br>
            <div class="d-flex justify-content-center">

                <div class="log-view"><i>"Well, don't blame me. I'm an interpreter."</i><br/>
                    ~ C-3PO, a Star War
                </div>
                <button type=submit name="button_choice" value="Delete" class="btn btn-danger" style="margin: 5px">

                    Delete

                </button>
                </p>
            </div>
        </form>
    </div>

    </div>
{% endblock %}
</body>