{% extends "shared/_layout.html" %}
{% block title %}Custom Webhook{% endblock %}
{% block content %}
    <div class="test-links sub_links">
        <div class="stat"><a href="/webhooks">All Webhooks</a></div>
        <div class="stat"><a href="/webhooks/custom/new">Create</a></div>
        <div class="stat"><a href="/webhooks/custom">View</a></div>
    </div>
    <div class="form-container">
        <form action="/webhooks/custom/edit?name={{ webhook_name }}" method="POST" class="table-view"
              enctype="multipart/form-data">

            <h1>Edit {% if webhook_name %}{{ webhook_name }}{% else %}Custom Webhook{% endif %}</h1>
            <input name="custom_name" type="text" pattern="[^' ']+" placeholder="Edit Webhook Name (optional)"
                   title="No spaces, please." class="form-control" value="{{ name }}">
            {% if error %}
                <div class="alert-danger">{{ error }}</div>
            {% endif %}
            <textarea name="description" rows=3 type="text" placeholder="Description (optional)"
                      class="form-control">{{ description }}</textarea><br>
            Script file: <input type="file" name="new_file" pattern="[^' ']+"
                                title="No Spaces in the filename!"></b>
            {#            <form action="#" method="post" enctype="multipart/form-data">#}
            {#                <input id="upload" type="file" name="upload" formenctype="multipart/form-data"/>#}
            {#                <a href="#" id="upload_link">Upload files</a>#}


            <br>
            <div class="d-flex justify-content-center">
                <p></p>
                <button type=submit name="button_choice" value="Custom_Edit" class="btn btn-secondary" style="margin: 5px">

                    Edit

                </button>

                <button type=submit name="button_choice" value="Delete" class="btn btn-danger" style="margin: 5px">

                    Delete

                </button>
                </p>
            </div>

    </div>
{% endblock %}