{% extends "shared/_layout.html" %}
{% block title %}Custom Webhook{% endblock %}
{% block content %}
    <div class="test-links sub_links">
        <div class="stat"><a href="/webhooks">All Webhooks</a></div>
        <div class="stat"><a href="/webhooks/custom/new">Create</a></div>
        <div class="stat"><a href="/webhooks/custom">View</a></div>
    </div>
    <div class="form-container">
        <form action="/webhooks/custom/edit?name={{ webhook_name }}" method="POST" class="table-view"
              enctype="multipart/form-data">
        <div class="overflow-auto" style="max-height: 60vh; margin: auto">
            <h1>Edit {% if webhook_name %}{{ webhook_name }}{% else %}Custom Webhook{% endif %}</h1>
            <input name="custom_name" type="text" pattern="[^' ']+" placeholder="Edit Webhook Name (optional)"
                   title="No spaces, please." class="form-control" value="{{ webhook_name }}" autofocus>
            {% if error %}
                <div class="alert-danger">{{ error }}</div>
            {% endif %}
            <textarea name="description" rows=3 type="text" placeholder="Description (optional)"
                      class="form-control">{{ webhook_info[0]['description'] }}</textarea><br>
            <div class="d-flex justify-content-center">
                Script file: &nbsp<input type="file" name="new_file" pattern="[^' ']+"
                                         title="No Spaces in the filename!"
                                         accept=".sh,.py,.rs,.rlib,.swift,.cgi,.pl,.rb"/></b></div>
            <div class="d-flex justify-content-center">
                <p>Examples: [<a href="{{ url_for('resources_view.python') }}" class="alert-link">Python</a>, <a
                        href="{{ url_for('resources_view.bash') }}" class="alert-link">Bash</a>] </p></div>
                 <div class="d-flex justify-content-center">
                    <label>
                        <input type="checkbox" class="form-check-input" name="basic"
                               onchange="java_script_:show(this.value)"
                               {% if webhook_info[0]['webhook_username'] != 'null' %} checked {% endif %}">
                    </label><b>Basic Authentication (optional):</b></div>
                <div class="d-flex justify-content-center">
                {% if webhook_info[0]['webhook_username'] == 'null' %}    <div id="hiddenDiv2" style="display:none"> {% endif %}

                        <input class="form-control-sm" name="username" title="Username (optional)"
                               placeholder="Username (optional)"
                               value="{% if webhook_info[0]['webhook_username'] != 'null' %}{{ webhook_info[0]['webhook_username'] }}{% endif %}">
                        </b>
                        <input name="password" class="form-control-sm" type='password' title="Password (optional)"
                               placeholder="Password (optional)"
                               value="{% if webhook_info[0]['webhook_password'] != 'null' %}{{ webhook_info[0]['webhook_password'] }}{% endif %}">
                    </div>
                </div>

                <div class="d-flex justify-content-center btn-padded">

                    <button style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;" type="submit" value=""/>

                    <button type=submit name="button_choice" value="Delete" class="btn btn-danger"
                            style="margin: 5px; padding: 5px; width: 150px"
                    >

                    Delete

                    </button>
                    <button type=submit value="Custom_New" class="btn btn-secondary "
                            style="margin: 5px; padding: 5px; width: 150px">

                        Save

                    </button>
                </div>
                {% if success_msg %}

                    <h3 class="alert-success">Success!</h3>
                    <div class="form-container alert-warning">
                    <div>{{ success_msg }} <br></div>
                {% endif %}
                {% if smart_group_notice %}
                    <b>{{ smart_group_notice }}</b> <br> {{ smart_group_instructions }}
                {% endif %}
                <a href="{{ new_link }}" style="color:#3c6aa7;" target="_blank">{{ new_here }}</a></center>
                </div>

            </div>
    </div>
{% endblock %}
{% block additional_js %}
    <script>
        function show(event) {
            if (event == "on") {
                hiddenDiv2.style.display = 'inline-block';
            }
        }
    </script>
{% endblock %}