{% extends "shared/_layout.html" %}
{% block title %}Custom Webhook{% endblock %}
{% block content %}
    <div class="test-links sub_links">
        <div class="stat"><a href="/webhooks">All Webhooks</a></div>
        <div class="stat"><a href="/webhooks/custom/new">Create</a></div>
        <div class="stat"><a href="/webhooks/custom">View</a></div>
    </div>
    <div class="form-container">

        {#        <div class="account-form">#}

        <div class="table-view">
            <h4>Custom Webhooks Summary</h4></div>
        <div class="table-view">
            {% if custom_list %}
                <div class="table-responsive">
                    <table id="Custom Webhooks Table" class="table">
                        <thead class="thead-dark table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Script</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        {% for row in custom_list %}
                            {% if row.url == session['url'] %}
                                <tr>
                                    {#                                <td>{{ row.name }} (<a href="{{ webhook_url }}/webhooks.html?id={{ row.jamf_id }}"#}
                                    <td>{{ row.name }} (<a href="../webhooks/custom/edit?name={{ row.name }}"
                                                           style="color:#3c6aa7;">Edit</a>)
                                    </td>
                                    <td>{{ row.script }}</td>
                                    <td>{{ row.description }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                No custom webhooks to display.  <a href="/webhooks/custom/new">Create one now.</a>
            {% endif %}
        </div>
        </form>
    </div>
{% endblock %}