{% extends "shared/_layout.html" %}
{% block title %}Custom Webhook{% endblock %}
{% block content %}
    <div class="test-links sub_links">
        <div class="stat"><a href="/webhooks">All Webhooks</a></div>
        <div class="stat"><a href="/webhooks/custom/new">Create</a></div>
        <div class="stat"><a href="/webhooks/custom">View</a></div>
    </div>
    <div class="form-container">

        <form action="/webhooks/custom/new" method="POST" class="table-view" enctype="multipart/form-data">
            <h1>New Custom Webhook</h1>
            <input name="custom_name" type="text" pattern="[^' ']+" placeholder="New Webhook Name (no spaces)" required
                   title="No spaces, please." class="form-control" value="{{ name }}" autofocus>
            {% if error %}
                <div class="alert-danger">{{ error }}</div>
            {% endif %}
            <textarea name="description" rows=3 type="text" placeholder="Description (optional)"
                      class="form-control">{{ description }}</textarea><br>
            <div class="d-flex justify-content-center">
                Script file: &nbsp<input type="file" name="new_file" pattern="[^' ']+" required
                                         title="No Spaces in the filename!"
                                         accept=".sh,.py,.rs,.rlib,.swift,.cgi,.pl,.rb"/></b></div>
            <div class="d-flex justify-content-center">
                <p>Examples: [<a href="{{ url_for('resources_view.python') }}" class="alert-link">Python</a>, <a
                        href="{{ url_for('resources_view.bash') }}" class="alert-link">Bash</a>] </p></div>
             <div class="d-flex justify-content-center"><label>
                <input type="checkbox" class="form-check-input" name="basic" value="basic"
                       onchange="java_script_:show(this.value)">
            </label><b>Basic Authentication (optional):</b></div>
            <div class="d-flex justify-content-center">
                <div id="hiddenDiv2" style="display:none" class="center_box">
                    <div class="d-flex justify-content-center">
                    <input class="form-control-sm" name="username" title="Username (optional)"
                           placeholder="Username (optional)">
                    </b>
                    <input name="password" class="form-control-sm" type='password' title="Password (optional)"
                           placeholder="Password (optional)"></div></div>
            </div>
                <div class="d-flex justify-content-center"><label>
                    <input type="checkbox" class="form-check-input" name="custom" value="custom"
                           onchange="java_script_:show(this.value)">
                </label><b>Custom Authentication (optional):</b></div>
                <div class="d-flex justify-content-center">
                    <div id="hiddenDiv3" style="display:none">
                        <input name="api_key" class="form-control-sm" type='api_key' title="X-API-KEY (optional)"
                               placeholder="X-API-KEY value (optional)"></div>
                </div>
            <div class="d-flex justify-content-center">
                <p></p>
                <button type=submit value="Custom_New" class="btn btn-secondary" style="margin: 5px; padding: 5px; width: 150px">

                    Create

                </button>
            </div>

        </form>
    </div>
{% endblock %}
{% block additional_js %}
    <script>
        function show(event) {
            if (event == "basic") {
                hiddenDiv2.style.display = 'inline-block';
            }
            if (event == "custom") {
                hiddenDiv3.style.display = 'inline-block';
            }
        }
    </script>
{% endblock %}